.waffle-button img {
    width: 190px;
    background-color: rgb(31, 87, 87);
    animation-name: waffle;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes waffle {
    0% {
        transform: scale(.3);
        background-color: darkslategray;
        border-radius: 100%;
    }
    100% {
        transform: scale(1.2);
        background-color: darkslategray;
        border-radius: 100%;
    }
}

.waffle-section {
    background-color: darkslategray;
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.waffle-section div {
    width: 70px;
    height: 30px;
    margin-left: 30%;
    margin-top: 15px;
    border: solid wheat;
    border-radius: 100%;
    grid-row: 1;
    text-align: center;
    color: wheat;
}

.waffle-button {
    border: darkslategray;
    border-radius: 90%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
    width: 200px;
    background-color: darkslategray;
    grid-row: 2;
}