:root {
  --chocolate: #430d01;
  --background-color: #ffedc3;
  --bright-pink: #ff3ea5;
  --cherry-blossom: #f9b8c7;
  --aquamarine: #90fcdf;
  --light-sky-blue: #8edbf5;
  --darker-sky-blue: #66cef1;
}

body {
    background-image: url('images/choc-background.jpg');
    background-size: cover;
    color: white;
    font-family: 'Skranji', cursive;
}

header {
  text-align: center;
  color: #ffedc3;
}

main {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 2vw;
}

button {
  font-family: "Skranji", cursive;
  cursor: pointer;
}

.buy-sell {
  display: flex;
  justify-content: space-evenly;
}

.buy-button {
  background-color: #06d6a0;
}

.sell-button {
  background-color: #ef476f;
}

.buy-sell button {
  width: 10vw;
  height: 6vh;
  color: white;
  border: none;
  border-radius: 10px;
}

.buy-sell button:hover,
.buy-sell button:active,
.buy-button.active,
.sell-button.active {
  border: white solid 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.store,
.purchased {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.store-button,
.sell-store-button {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  background-color: grey;
  width: ;
  height: 10vh;
  border: none;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.store-button img,
.sell-store-button img {
  max-width: 5vw;
  max-height: 8vh;
  justify-self: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.buy-section,
.sell-section,
.store-button-description {
  display: flex;
  flex-direction: column;
}

.buy-section > .available {
  background-color: var(--aquamarine);
}

.sell-section > .available {
  background-color: var(--cherry-blossom);
}

.sell-section {
  display: none;
}

.available img {
  -webkit-filter: grayscale(0);
  filter: none;
}

.store-button > *,
.sell-store-button > * {
  pointer-events: none;
}

.waffle-price {
  display: flex;
  flex-direction: row;
}

.store-button-description {
  align-items: flex-start;
}

.store-button-description p {
  margin: 0;
}

.store-item-name {
  font-weight: bold;
}

.role {
  display: none;
}

.store-button:hover,
.store-button:active,
.sell-store-button:hover,
.sell-store-button:active {
  box-shadow: grey 0px 30px 60px -12px inset, black 0px 18px 36px -18px inset;
}

.sell-section > .available:hover,
.sell-section > .available:active {
  box-shadow: var(--bright-pink) 0px 30px 60px -12px inset,
    var(--bright-pink) 0px 18px 36px -18px inset;
}

.store-button:hover .role,
.sell-store-button:hover .role {
  display: block;
}

.waffle-price img {
  width: 24%;
}

.amount {
  font-size: 200%;
  margin: 0;
  padding-right: 0;
}

.waffle-section {
  height: 80vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.waffle-section div {
  width: 100%;
  text-align: center;
}

.waffle-section-text-container {
    background-color: black;
    border-radius: 25px;
    max-width: 200px;
    padding: 10px;
}

.counter,
.textWaffle {
    font-size: 150%;
    color: var(--background-color);
    text-shadow: 0px 0px 8px var(--bright-pink);
}

.wafflesPerSecond {
    color: var(--bright-pink);
}

.waffle-container {
  position: relative;
  margin-top: 2vh;
}

.waffle-img {
  width: 300px;
}

.animation img {
  position: absolute;
  top: 125px;
  width: 50px;
  animation-name: waffle;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  z-index: 1;
  pointer-events: none;
}

@keyframes waffle {
  0% {
    transform: translateX(-25px);
  }
  100% {
    transform: translate(50px, -50px);
    opacity: 0;
  }
}

.purchased {
  color: var(--background-color);
  background-color: var(--chocolate);
}

.purchased img {
  width: 5vw;
}

.purchased-cursors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 280px;
    margin: 0 10px;
}

.purchased-cursors img {
  width: 10px;
  padding: 0 4px;
  animation: cursorTap 1s linear infinite;
}

@keyframes cursorTap {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

h2 {
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchased div {
  background-size: cover;
  height: 14vh;
}

.purchased .manneken-pis {
  background-image: url("images/wall.jpg");
}

.purchased .jean-claude {
  background-image: url("images/cinquantenaire.jpeg");
}

.purchased .bakery {
  background-image: url("images/bricks.jpg");
}

.purchased .atomium {
  background-image: url("images/field.jpg");
}

.purchased .grand-place {
  background-image: url("images/place.jpg");
}
